body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f0f0f0;
  font-family: Arial, sans-serif;
}

.chessboard {
  display: flex;
  flex-direction: column;
  border: 4px solid #000;
  
}

.row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  cursor: default;
}

/* Colors */
.white {
  background-color: #ffffff; 
  color: black;
}

.black {
  background-color: #000000; 
  color: white;
}

